.button-add {
  top: 1rem;
  padding: 8px;
  margin-right: 0.5rem;
  border: 1px solid rgb(0, 149, 255);
  border-radius: 20px;
  background: rgb(250,251,1);
  background: linear-gradient(90deg, rgba(250,251,1,1) 0%, rgba(214,226,109,1) 58%, rgba(0,195,246,1) 100%);
  transition: .3s;
  letter-spacing: .7px;
  transition: .3s;
}

.button-add:hover {
  transform: scale(1.1);
  background: rgb(250,251,1);
  background: linear-gradient(90deg, rgba(0,195,246,1) 0%, rgba(214,226,109,1) 58%, rgba(250,251,1,1)  100%);
}
