.close-btn {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    right: 1rem;
    top: 1rem;
    padding: 0.2rem;
    border: solid transparent;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('/public/assets/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    cursor: pointer;
    transition: all 0.7s;
  }
  
  .close-btn:hover{
    background-color: rgba(0, 0, 255, 0.15); 
  }

  .close-btn:active{
    background-color: rgba(0, 0, 255, 0.37); 
    box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 255, 0.37);    
    background-image: url('/public/assets/close.png');
    transform: scale(0.9);
  }

 
 