.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    background-color: rgba(0, 0, 255, 0.466);
}

.header-controls{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
    flex: 0 0 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0 0.7rem;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.header-logo:hover {
    transform: scale(1.1);
    transform: rotate(360deg);
}

.button-edit-profile {
  top: 1rem;
  padding: 8px;
  margin-right: 0.5rem;
  border: 1px solid rgb(0, 149, 255);
  border-radius: 20px;
  background: rgb(251,1,250);
  background: linear-gradient(90deg, rgba(251,1,250,1) 0%, rgba(217,109,226,1) 58%, rgba(0,195,246,1) 100%);
  transition: .3s;
  letter-spacing: .7px;
  cursor: pointer;
}

.button-edit-profile:hover {
    transform: scale(1.1);
    background: rgb(0,195,246);
    background: linear-gradient(90deg, rgba(0,195,246,1) 0%, rgba(191,76,191,1) 44%, rgba(238,8,238,1) 100%);
}

.button-edit-profile:active,
.button-add-board:active {
    background-color: rgba(0, 0, 255, 0.37);
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 255, 0.37);
    transform: scale(0.97);
}

.current-user {
    color: rgb(255, 242, 0);
    margin-right: 0.5rem;
}

/*----------------------------------------*/

.switcher-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 2rem;
}
.user-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.formSwitcher {
    display: none;
}

.formSwitcher:checked + .formSwitcher-label {
    color: rgb(220, 39, 39);
}

.formSwitcher:checked + .formSwitcher-label:before {
    background-color: rgba(0, 0, 255, 0.5);
}

.formSwitcher:checked + .formSwitcher-label:after {
    transform: translateX(23px);
}

.formSwitcher:checked + .formSwitcher-label:active:after {
    transform: translateX(12px);
}

.formSwitcher:checked + .formSwitcher-label:active:before {
    background-color: rgba(0, 0, 255, 0.5);
}

.formSwitcher-label {
  margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
    font-size: 1.2rem;
    color: rgb(220, 39, 39);
    cursor: pointer;
    position: relative;
    transition: color .1s linear;
    cursor: pointer;
}

.formSwitcher-label:before {
    content: "";
    display: block;
    width: 45px;
    height: 22px;

    background-color: rgba(0, 0, 255, 0.5);;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    transition: background-color .1s linear;
    cursor: pointer;
}

.formSwitcher-label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

    transition: transform .1s linear;
}

.formSwitcher-label:active:after {
    transform: translateX(12px);
}

.formSwitcher-label:active:before {
    background-color: rgba(238, 255, 0, 0.37);
}

/*-------------------------------------*/

@media (max-width: 950px) {
  .header-controls{
    width: 50%;
  }
}

@media (max-width: 610px) {
  .header-controls{
    width: 60%;
  }
}

@media (max-width: 390px) {
  .header-controls{
    width: 70%;
  }
  .switcher-wrapper{
    width: 15%;
    
}
.formSwitcher-text{
  margin-left: 7px;
  font-size: 14px;
}
.current-user{
  display: none;
}
  .user-control{
    width: 15%;
    margin-right: -10px;
}
}