.registration-block{  
  height: 90vh;
  background-color: white;
  background-image: url('/public/assets/pma.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
}

.registration-block_blur {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616); 
  backdrop-filter: blur(0.5rem);
}

.form-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-width: 18rem;
  width: 20rem;
  height: 57vh;  
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  box-shadow: 0rem 0rem 2rem 2rem rgba(2, 2, 2, 0.541);
  box-sizing: inherit;

}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 90%;
  height: 70%;
}

.registration-form_userName,
.registration-form_userLogin,
.registration-form_userPassword {
  position: relative;
  display: block;
  margin-bottom: 7%;  
}

.userName,
.userLogin,
.userPassword {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  border-radius: 0 1rem 1rem 1rem;
  border-color: gray;
  cursor: pointer;
  transition: all 0.7s;
}

.userName:hover,
.userLogin:hover,
.userPassword:hover {
  border-color: rgb(18, 121, 232);
}

.userName:focus,
.userLogin:focus,
.userPassword:focus {
  background-color: rgba(0, 0, 255, 0.266);
  color: blue;
}

.info-block-preview{
  margin-top: 5%;
  font-size: 1.5rem;
  color: rgb(18, 121, 232);
}

.info-block-status{
  margin: 10px 0 10px;
}

.userName-error{
  width: 90%;
  text-align: center;
  color: red;
  position: absolute;
  top: 2rem;
  font-size: .7rem;
}
