.logout-button_wrapper {
    flex: 0 0 1.5rem;
}

.button-logout {
    margin-right: 1rem;
    width:  1.5rem;
    height: 1.5rem;    
    border: solid transparent;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('/public/assets/logOut.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.4rem;   
    cursor: pointer;
    transition: all 1s;
}

.button-logout:hover{
    background-color:rgba(0, 0, 255, 0.2); 
    box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 255, 0.2);   
}

.button-logout:active{
    background-color: rgba(0, 0, 255, 0.37);
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 255, 0.37);
    transform: scale(0.95);
}